<%= render 'list', user: @user %>

<table>
<% @users.each do |user| %>
       <th>image</th>
        <th>name</th>

    <tr>
        <td><%= user.name %></td>
    </tr>
    <tr>
        <td><%= user.introduction %></td>
        <td>
        <%=  link_to "Show", user_path(user.id) %>
        </td>
    </tr>
<% end %>