<%= render "users/list", user: @user, book: @book %>

<div class="col-md-8 offset-md-1">
<h1>
  Books
</h1>
<th>title</th>
<th>opinion</th>
<table>
<% @books.each do |book| %>
    <tr>
        <td><%= book.title %></td>
    </tr>
    <tr>
        <td><%= book.body %></td>
    </tr>
<% end %>
</table>
</div>