<%= render 'list', user: @user %>

<!--<table>-->
<!--% @books each do |book| %>-->
<!--       <th>title</th>-->
<!--        <th>body</th>-->

<!--    <tr>-->
<!--        <td>%= book.title %></td>-->
<!--    </tr>-->
<!--    <tr>-->
<!--        <td>%= book.body %></td>-->
<!--    </tr>-->
<!--% end %>-->
<!--</table>-->